.title__subscribe {
  font-size: 40px;
  font-weight: 700;
  line-height: 27px; }

.titless {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 8px; }

.titless2 {
  padding-top: 8px;
  font-size: 13px;
  font-weight: 300; }
