.logo {
        font-size: 50px;
        fill: #262626;
        text-anchor: end;
        font-family: 'Pacifico', cursive;
}
.bag{
    fill: #262626;
    fill-rule: evenodd;
    width:50px; 
    height:50px;  
}
.hand{
    fill: #262626;
    fill-rule: evenodd;
    width:50px; 
    height:50px;
}
.planet{
    fill: #262626;
    fill-rule: evenodd;
    width:50px; 
    height:50px;
}
.wo{
    fill: #262626;
    fill-rule: evenodd;
    width:50px; 
    height:50px;    
}
.logo-small {
        font-size: 25px;
        fill: #b9b9b9;
        text-anchor: end;
        font-family: 'Pacifico', cursive;
      }